<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs selectedIndex="3">
  
    <ion-tab-bar slot="top">
  
      <ion-tab-button tab="cartao" (click)="CartaoSelecionado()" [appDirCartao]="cartaoSelecionado">
        <ion-label>Cartao de credito</ion-label>
        <ion-icon name="home"></ion-icon>
        <ion-badge style="background-color:orangered">6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="boleto" (click)="BoletoSelecionado()">
        <ion-label>Boleto bancario</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
