ion-content{
    //background-image: url("src/assets/img/WallPaper.jpg");
    --background: url('src\assets\img\WallPaper.jpg') 40% no-repeat;
    background-size: -15%;
    
   
}
Form{
    position: fixed;
    bottom: 25%;
    width: 90%;
}
#alerta{
    background-color:white;
}
#titulo{
    color: white;
    font-size: 200%;
    position:fixed;
    bottom: 70%;
    background-color: rgba(255,255,255,0.3);
}