<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>pessoal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button shape="round" expand="full" (click)="BotaoEdicao()" style="position:relative;"> 
        {{ TextoEdicao }}
    </ion-button> 
   <!-- FORMULÁRIO -->
   <form [formGroup]="formulario" id="Form" #loginForm="ngForm">
     <ion-item *ngFor="let item of userData">
        <ion-list>
        
          <!-- EMAIL -->
          <ion-item>
              <ion-label position="floating">E-mail:{{ item.email }} </ion-label>
              <ion-input type="text" value="{{ item.email }}" formControlName="email" readonly="{{ SomenteLer }}"></ion-input>
          </ion-item>
          <!--  CPF https://pt.stackoverflow.com/questions/363703/problema-com-brmask-no-ionic-4
          https://www.npmjs.com/package/brmasker-ionic-3 -->
          <ion-item>
              
              <ion-label position="floating">CPF(Atual):{{ item.cpf }}</ion-label>
              <ion-input [(ngModel)]="cpf_cnpj" maxlength="11" value="{{ item.cpf }}"  formControlName="cpf_cnpj"
               (change)="cpf_cnpj = mask(cpf_cnpj,'cpf')" name="cpf_cnpj"></ion-input>
          </ion-item>
          <!-- SENHA -->
          <ion-item>
              <ion-label position="floating">Senha(Atual):{{ item.senha }}</ion-label>
              <ion-input type="password" value="{{ item.senha }}" formControlName="senha" readonly="{{ SomenteLer }}"></ion-input>
          </ion-item>

          
        </ion-list>
      </ion-item>
      <!-- ALTERAR  -->
      <ion-button type="submit" *ngIf="mostrarBotao==true" (click)="botaoAlterar()" id="botaoAlterar" color="green"> 
          Alterar 
      </ion-button>
      
    </form>
      <ion-button *ngIf="mostrarBotao==true" (click)="botaoApagar()" id="botaoApagar" color="red"> 
          Apagar 
      </ion-button>
</ion-content>
