<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Destaques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-searchbar showcancelbutton="" nmae="x" [(ngModel)]="a" (change)="pesquisar(a)"></ion-searchbar>
<ion-list>
    <ion-item [ngStyle]="{'background-image': 'url(../../assets/img/logo.jpg)'}"></ion-item>
    <ion-item *ngFor="let item of list">
        {{ item }}
      <ion-item [ngStyle]="{'color':'orange','width':'50%','font-size':'75%'}">
        R$:1.999,99(Parcelas 2x:)
      </ion-item>
    </ion-item>
  
</ion-list>


</ion-content>
