#Span2{
    margin: auto;
    font-size: 250%;
    color:orange;
    font-family: 'Courier New', Courier, monospace;
}
#Span1{
    color: yellow;
    font-size: 230%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#Logo{
    margin: auto;
    position: relative;
    border-radius: 10%;
    width: 50%;
    text-align: center;
    background:rgba(0, 0, 0, 0.7);
}
#Logo2{
    background-image: url(../../assets/img/logo.jpg);
    margin: auto;
    height: 75%;
    width: 75%;
    position:relative;
}
.red{
    background-color:red;
    color:red;
}.green{
    background-color:green;
    color:green;
}
#titulo{
    color:white;
}
#Opcoes{
    margin:auto;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 100%;
    color:white;
    text-align: center;
    width: 75%;
    height: 25%;
    background-size: 25% 75%;
    border-radius: 5%;
    
}


ion-content{
    //background-image: url("src/assets/img/WallPaper.jpg");
    --background: url('src\assets\img\WallPaper.jpg') 40% no-repeat;
    background-size: -15%;
    
   
}
button{
    
    background: rgba(255, 255, 255, 0.0);
    border-color: rgba(255, 255, 255, 0.0);
    border-radius: 10%;
    color:white;
    font-size: 100%;
}

img {
    width: 100%;
    height: auto;
  }